@media all and (max-width: 1230px){
    .main-container{
        width: 900px;
    }
    .searchBar form{
        width: 890px;
    }
    .partners-content{
        flex-wrap: wrap;
    }
    .map iframe{
        width: 900px;
    }
    .services-content-MB, .blue-lakes-images{
        flex-direction: column;
        align-items: center;
    }
    .services-content-MB img:nth-child(1),
    .services-content-MB img:nth-child(2){
        margin-bottom: 7px;
    }
}
@media all and (max-width: 940px){
    .main-container{
        width: 650px;
    }
    .d-block{
        height: 500px;
    }
    .trophy{
        text-align: center;
    } 
    .searchBar form {
        width: 650px;
        height: auto;
    }
    .map iframe{
        width: 650px;
    }
    .aboutUs-content img:nth-child(1),
    .aboutUs-content img:nth-child(3){
        float: none;
        display: block;
        margin: 0 auto;
    }
    .bath-images, 
    .yacht-img{
        flex-wrap: wrap;
    }
    .services-content .bath-images img, 
    .services-content .yacht-img img{
        margin-bottom: 7px;
    } 
    .walking-in-blue-lakes ul{
        margin-left: 15px;
    }
    .besedka-images{
        flex-wrap: wrap;
    }
    .owl-carousel .owl-item img{
        height: 330px;
    }
}
@media all and (max-width: 700px){
    .owl-carousel .owl-item img{
        width: 400px;
        margin: 0 auto;
    } 
} 
@media all and (max-width: 680px){
    .main-container{
        width: 450px;
    }
    .top{
        flex-direction: column;
    }
    .navigation{
        flex-direction: column;
    }
    .d-block{
        height: 375px;
    }
    .searchBar form {
        width: 450px;
        height: auto;
        justify-content: space-between;
        padding-left: 5px;
    }
    .search{
        margin-bottom: 10px;
    }
    .map iframe{
        width: 450px;
    }
    .aboutUs-content img:nth-child(1),
    .aboutUs-content img:nth-child(3){
        width: 450px;
    }
}
@media all and (max-width: 480px){
    .main-container{
        width: 340px;
    }
    .d-block{
        height: 280px;
    }
    .searchBar form {
        width: 280px;
        justify-content: center;
    }
    .animals, .invalids{
        text-align: center;
    }
    .map iframe{
        width: 340px;
    }
    .aboutUs-content img:nth-child(1),
    .aboutUs-content img:nth-child(3){
        width: 340px;
    }
    .services-content .bath-images img, 
    .services-content .yacht-img img,
    .services-content .services-content-MB img,
    .services-content .blue-lakes-images img{
        width: 340px;
    }
    .FIO_guest{
        display: flex;
        flex-direction: column;
    }
    .toBook form{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}